.bordered{
  border: 1px dashed red;
}

.selected{
  background-color: orange;
}

.book-caption {
  font-weight: bold;
  text-align: center;
  background-color: #CCFF99;
}

.books-table {
  border-collapse: collapse;
  border: 1px solid grey;
  padding: 0px;
  margin: 0px;
  min-height: 15px;
}

.book-field {
  padding: 2px;
  width: 180px;
  line-height: 1;
  border: 1px solid grey;
}

#regal {
  background-color: #E8E8E8;
  width: 1000px;
  float: left;
  left: 200px;
  position: relative;
  overflow: hidden;
}

#books {
  float: left;
  height: 280px;
  overflow-y: scroll;
}

#inserter {
  padding-top: 20px;
  clear: both;
}

#search-bar {
  clear: both;
}

#book-details{
  border: 1px dotted red;
  background-color: #E8E8E8;
  float: left;
  position: relative;
  width: 400px;
  height: 150px;
  left: 20px;
  top: 22px;
  display: none;
}

.details_input { 
  font-family: Helvetica;
  font-style: italic;
  height: 15px;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: darkred;
  outline: 0;
  padding: 0px 0px 1px 0px;
}
